header {
	background: #2a5df4;
	padding: 20px 0;
}

#banner {
	width:20%;
}

.titulo-principal{
	font-size: 300%;
	font-size-adjust: calc(1);
	color: #eae60e;
	text-align: center;
	width: 100%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #eae60e;
	border-radius: 10px;
}

.caixa {
	position: relative;
	width: px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 35px;
	right: 750px;
}

nav li {
	display: block;
	margin: 0 0 0 150px;
}

nav a {
	text-transform: uppercase;
	color: #fbfbfb;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}

nav a:hover {
	color: #edf41b;
	text-decoration: underline;
}

.linksdesenv {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.linksdesenv li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.linksdesenv li:hover {
	border-color: #C78C19;
}

.linksdesenv li:active {
	border-color: #088C19;	
}

.linksdesenv li:hover h2 {
	font-size: 34px;
}

.linksdesenv h2 {
	font-size: 30px;
	font-weight: bold;
}

.linksdesenv {
	font-size: 18px;
}

.linksdesenv {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}